*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-top:3rem;
    margin-bottom: 3rem;
}
.row-cols-5{
    justify-content: center;
    align-items: center;
}
.col{
    margin-top: auto;
    margin-bottom: auto;
}
.btn{
    background-color:green ;
    color: white;
    margin-top: -10px;
}

.img-box{
    width: auto;
}

.img-box img{
    width: auto;
}

.btn:hover{
    color: white
}
.container-fluid{
    width: 100%;
    padding: 30px 20px;
    background-color: white;
}

form{
    width: 200%;
    margin: 40px auto;
    color: green;
}

.responsive {
    max-width:100%;
    height: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }

.header{
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

body {
    background-color: white;
}

.footer{
    width: 600px;
    height: 300px;
    margin-right: auto;
}

.image:hover .responsive {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.card:hover .responsive {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background: url('https://img.freepik.com/free-vector/realistic-bokeh-background_52683-64201.jpg?w=1800&t=st=1690125268~exp=1690125868~hmac=968188dbd9bfb423e87dbd57664c2760bb21ad218d0bc2d8ac6f4d6dc2c94a29') 0 0 no-repeat;
}

.card_body:hover .responsive {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transform: scale(0.99);
    transition: 0.3s ease-in-out;
}
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 50%;
}

h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
}

ul,ol,li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;

}

